Dash Basic Auth can create conflicts with auth to other services when served under the same origin

### Problem
We currently (optionally) use [Dash Basic Auth](https://dash.plotly.com/authentication#basic-auth) with an environment variable–based initialization.  

https://github.com/mlexchange/mlex_highres_segmentation/blob/354dc332516863c69cb3b3aa64b33dce708f1cd6/app.py#L23-L27  

This turns out to create problems when authenticating with other services that use different mechanisms (e.g. Tiled via API key) but are served from the same origin under different paths in NGINX.  

After authenticating to the Dash app, an `Authorization` header is added to subsequent requests made in the same browser from the same origin. These headers are then rejected (rightfully so) by other services that expect a different authentication method but can be configured to accept Basic Auth.

### Setup
- Tiled served under `/`  
- Segmentation (Dash app) served under `/segmentation`  
- Both behind the same NGINX origin  

We first encountered this in a scenario with a Dash app using Basic Auth and subsequent API requests to Tiled in the same browser failing authentication. The browser caches Basic Auth credentials and automatically attaches the same `Authorization` header to all subsequent requests. I assume this happens because the services are considered to be in the same protection space/realm ([RFC 7235 § 2.2](https://www.rfc-editor.org/rfc/rfc7235#section-2.2)). We had not configured a `realm` explicitly, so the protection space defaults to the origin (i.e., same scheme, host, and port as defined in [RFC 6454 § 3.2](https://www.rfc-editor.org/rfc/rfc6454#section-3.2)).


### Possible Solutions
- Replace `dash-auth` with a different, external authentication mechanism (planned).  
- In local deployments, drop the `Authorization` header for requests to Tiled (e.g. through NGINX configuration). This is what we are now doing in the referenced deployment, see also #198 for other issues related with this.
- Serve services on different subdomains to separate authentication scopes. 